/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* タグのスタイル */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f8f9fa; */
    /*background-color: #106eb7;
} */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


body {
	background: url(images/bg_main.png) top center repeat-y #eeeeee;
	color: #333;
}

/* id属性のスタイル(#) */
#wrap {
	width: 802px;
	margin: 0 auto;
}

#content {
	padding: 20px;
	/* background: url(images/bg_content.png) left bottom no-repeat #ecf7fc; */
    background: url(images/bg_content.png) left bottom no-repeat #3583bab2;
	width: 720px;
	min-height: 490px;
	margin: 0 auto;
	margin-bottom: 10px;
	/* font-size: 153.9%; */
    font-size: 120.9%;
}

* html #content {
	height: 490px;
}

dt {
	/* border-left: 5px solid #106eb7; */
	padding-left: 200px;
	/* margin-bottom: 5px; */
    /* margin: auto; */
}
  
small {
    color: gray;
}
  
h1,h2,h3,h4 {
    color: #343a40;
    text-align: center;
    padding: 20px 0;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0 30%;
    margin-top: 30px;
}
  
ul li {
    background-color: #fff;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    padding: 20px;
}
  
ul li h2 {
    margin: 0 0 10px 0;
    color: #495057;
}
  
ul li p {
    color: #212529;
    margin: 0;
}
 
  /* classのスタイル(.) */
  
.button-container {
    text-align: center;
}
  
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}
  
.form-input {
    margin-bottom: 20px;
    width: 100%;
}
  
.form-input input,
.form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 
/*自作CSS テキストをセンターにする*/
/*これをdivタグなどに適応して他の要素をセンターにする*/
.all-center {
    text-align: center;
}
  
.link-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
 
.link-button2 {
    display: inline-block;
    background-color: #1dde0c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.link-caution-button1 {
    display: inline-block;
    background-color: #dce310;
    font-size: 17px;
    color: #fff;
    /* color: #dce310; */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid;
    cursor: pointer;
}

.link-caution-button2 {
    /* display: inline-block; */
    background-color: #dce310;
    /* font-size: 17px; */
    color: rgb(17, 18, 19);
    /* color: #dce310; */
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid;
    cursor: pointer;
    max-width: 500px;
    
}

  
.link-delete-button1 {
    display: inline-block;
    background-color: #cc361f;
    font-size: 17px;
    /* color: #fff; */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-left: 10px;
    border: 1px solid;
    cursor: pointer;
}

.link-delete-button2 {
    display: inline-block;
    background-color: #cc361f;
    /* font-size: 17px; */
    /* color: #fff; */
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-left: 10px;
    border: 1px solid;
    cursor: pointer;
}
  
.edit-delete-wrapper {
    display: flex;
    margin-top: 10px;
  
}
