<%# 一般ユーザーの画面 %>

<h1>ようこそ!タクシーつかまりやすいかな!?</h1>

<body>

<div id="content">
<%= form_tag pub_users_path, method: :get do %>
    <p class="all-center"><%= label_tag 'multiplier', '選択項目にチェックや選択をして下さい' %></p>

    <%# セレクトボックスの場合 %>

    <%# キーとバリューを合わせる時は一時配列 %>
    <%#<%= select_tag 'multiplier', options_for_select([[1,2,3,4,5]]) %>
    <%# キーとバリューを両方設定する時はoptions_for_select([['key1',val1],['key2',val2],...,['keyn',valn]])とする %>
    <%#<%= select_tag 'multiplier', options_for_select([['月曜朝または金曜23時~25時ですか?',1.18],['それ以外',1]]) %>

    <%# ラジオボタンの場合 %>
    <%# チェックボックスの場合 %>
    <%# <div class="all-center"> %>
    <dt>
        <p>日時:</p>
        <%= radio_button_tag 'multiplier1', 1.25 %>
        <%= label_tag 'multiplier1_1.25', '月曜朝または金曜23時~25時ですか?' %><br>

        <%= radio_button_tag 'multiplier1', 1.12 %>
        <%= label_tag 'multiplier1_1.12', '平日の火曜日~金曜日の朝ですか?' %><br>

        <%= radio_button_tag 'multiplier1', 0.8 %>
        <%= label_tag 'multiplier1_0.8', '土日祝祭日ですか?' %><br>

        <%= radio_button_tag 'multiplier1', 1 %>
        <%= label_tag 'multiplier1_1', 'それ以外ですか?' %><br>
    
        <p>気象条件:</p>
        <%= radio_button_tag 'multiplier2', 1.1 %>
        <%= label_tag 'multiplier2_1.1', '雨が降ってますか?' %><br>

        <%= radio_button_tag 'multiplier2', 1.45 %>
        <%= label_tag 'multiplier2_1.5', '台風である。または、雪が降ってますか?' %><br>

        <%= radio_button_tag 'multiplier2', 0.9 %>
        <%= label_tag 'multiplier2_0.9', '晴れていて気温が15~25°C位ですか?' %><br>

        <p>その他:</p>
        <%= check_box_tag 'multiplier3', 1.4 %>
        <%= label_tag 'multiplier3', '電車が止まってますか?' %><br>
    </dt>
    <%# 実際にお客様に対応できるタクシーの台数に近い値を@forcast[1]のキーから値を算出 %>
    <% key = @forcast[1].keys.min_by { |k| (k - @forcast[0]).abs } %>
    <% max_acceptation = @forcast[1][key] %>

    <% if params[:multiplier1].present? || params[:multiplier2].present? || params[:multiplier3].present? %>
        <%# max_accepationは@forcast[0]での最大輸送可能なお客様の数なので
        そこに外的要因の係数を掛けてお客様の需要予想数を算出 %>
        <%# デフォルト値がない場合 %>
        <%#<% result = @avg * params[:multiplier1].to_f * params[:multiplier2].to_f %>
        <%# デフォルト値がある場合はfetchメソッドを使う %>
        <% customers = max_acceptation * params.fetch(:multiplier1,1).to_f * params.fetch(:multiplier2,1).to_f * params.fetch(:multiplier3,1).to_f %>
    <% end %>

    
    <p class="all-center"><%= submit_tag '予想する' %></p>

    <h4>結果です</h4>

    <%# この値max_acceptationを基準にcustomerと比較して需要を予測 %>
    <div class="all-center">
        <% if (customers && customers >= max_acceptation - 255) && (customers && customers <= max_acceptation + 255) %>
            <p>空車のタクシーを見つけずらい状態です</p>
        <% elsif customers && customers < max_acceptation - 255 %>
            <p>空車のタクシーを見つけるのは容易です</p>
        <% elsif customers && customers > max_acceptation + 255 %>
            <p>空車タクシーを見つけるのは困難な状態です</p>
        <% else %>
            <p>予想します</p>
        <% end %>
    </div>

<% end %>
</div>
</body>
