<h1>仮のホーム画面です(削除可)</h1>

<div class="all-center">
  <p>ログイン仮</p>
  <%#<%= button_to 'ログイン',new_user_session_path, method: :get %>
  <%= button_to 'ログイン',new_user_session_path, method: :get %>
</div>

<div class="all-center">
  <p>新規登録仮</p>
  <%= button_to '新規登録',new_user_registration_path, method: :get %>
</div>

<div class="all-center">
  <p>ログアウト仮</p>
  <%= button_to 'ログアウト',destroy_user_session_path, method: :delete %>
</div>

<%# <script>//これは動いてないかも
  document.addEventListener("turbo:load", function() {
    const logoutForm = document.getElementById("logout-form");
    
    if (logoutForm) {
      logoutForm.addEventListener("submit", function() {
        // ボタンがクリックされた時の処理をここに追加（オプション）
      });
    }
  });
</script> %>
