<h2>新規会社担当者登録</h2>
<%# 新規ユーザー登録画面 %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="all-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%# 名前の追加 %>
  <div class="all-center">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>
  
  <%# 社名の追加 %>
  <div class="all-center">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name, autocomplete: "company_name" %>
  </div>

  <div class="all-center">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="all-center">
    <%#<%= f.label :password_confirmation %>
    <%# このような方法もある %>
    <%= f.label 'パスワード確認' %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br>

  <div class="all-center">
    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  </div><br>
<% end %>
<div class="all-center">
  <%= render "users/shared/links" %>
</div>
