<h2>ログイン画面</h2>
<%# ログイン画面 %>

<div class="all-center">
  <p>emailはaaaa@aaa.comでパスワードはaaaaaaでログインできます</p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="all-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="all-center">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="all-center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div><br>
  <% end %>

  <div class="all-center">
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  </div><br>
<% end %>
<div class="all-center">
  <%= render "users/shared/links" %>
</div>