<%# new.html.erbやedit.html.erbのヘルパー %>
<%= form_with(model: tpr) do |form| %>
  <% if tpr.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tpr.errors.count, "error") %> prohibited this tpr from being saved:</h2>

      <ul>
        <% tpr.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :business_time, style: "display: block" %>
    <%= form.text_field :business_time %>
  </div>

  <div>
    <%= form.label :actual_driving, style: "display: block" %>
    <%= form.text_field :actual_driving %>
  </div>

  <div>
    <%= form.label :pick_up_time, style: "display: block" %>
    <%= form.text_field :pick_up_time %>
  </div>

  <div>
    <%= form.label :waiting_time, style: "display: block" %>
    <%= form.text_field :waiting_time %>
  </div>

  <div>
    <%= form.label :break_time, style: "display: block" %>
    <%= form.text_field :break_time %>
  </div>

  <div>
    <%= form.label :backhaul_time, style: "display: block" %>
    <%= form.text_field :backhaul_time %>
  </div>

  <div>
    <%= form.label :average_operating_raito, style: "display: block" %>
    <%= form.text_field :average_operating_raito %>
  </div>

  <%# ここ編集 %>
  <br>

  <%# ここに確定するを追加 %>
  <div>
    <%= form.submit "確定する" %>
  </div>
<% end %>

