<div id="<%= dom_id tpr %>">
  <p>
    <strong>User:</strong>
    <%= tpr.user_id %>
  </p>

  <p>
    <strong>Business time:</strong>
    <%= tpr.business_time %>
  </p>

  <p>
    <strong>Actual driving:</strong>
    <%= tpr.actual_driving %>
  </p>

  <p>
    <strong>Pick up time:</strong>
    <%= tpr.pick_up_time %>
  </p>

  <p>
    <strong>Waiting time:</strong>
    <%= tpr.waiting_time %>
  </p>

  <p>
    <strong>Break time:</strong>
    <%= tpr.break_time %>
  </p>

  <p>
    <strong>Backhaul time:</strong>
    <%= tpr.backhaul_time %>
  </p>

  <p>
    <strong>Average operating raito:</strong>
    <%= tpr.average_operating_raito %>
  </p>

</div>
