<div class="all-center">
  <p style="color: green"><%= notice %></p>

  <h1>輸送実績報告書</h1>

  <%= button_to "新規データ入力", new_tpr_path, method: :get %><br>

  <%# deleteメソッドを使うときのデフォルトはこちら %>
  <%#<%= button_to 'ログアウト',destroy_user_session_path, method: :delete, form_class: 'link-caution-button2'%>
  
  <%# 1.へルパーメソッドbutton_to内ではclass属性を上手く指定できなかったのでbuttonタグで指定して
  2.jsのgetElementByIdを使ってdeleteメソッドを実行できるようにする %>
  <button class="link-caution-button2" onclick="submitForm()">ログアウト</button>

  <form id="logoutForm" action="<%= destroy_user_session_path %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form><br>

  <p>===================================================</p>

  <div id="tprs">
    <% @tprs.each do |tpr| %>
      <%#<%= render tpr %>
      会社担当者ID:<%=  tpr.user_id%>  平均営業率:<%= tpr.average_operating_raito %>
      <p>
        <%= link_to "このデータの詳細", tpr %>
      <p>------------------------------------------------</p>
      </p>
    <% end %>
  </div>

  <script>
    function submitForm() {
      document.getElementById('logoutForm').submit();
    }
  </script>

</div>
