<div class="all-center">
  <p style="color: green"><%= notice %></p>
  <h1>詳細画面</h1>
  <%# 日本語化する為scafflodで作られた直接属性名をやめて
  i18n.tメソッドを使用して翻訳キーを指定してtpr.ja.ymlを呼び出す %>

  <%# 上の方法で呼び出せなかったのでconfig/locales/ja.ymlにtメソッドを
  使って呼び出す方法に変更 %>

  <%#<%= render @tpr %>

  <%# tメソッドを使ってja.ymlのtprs/showを呼び出す %>
  <div>
    <%= t('.user_id') %>: <%= @tpr.user_id %>
  </div><br>

  <div>
    <%= t('.business_time') %>: <%= @tpr.business_time %>
  </div><br>

  <div>
    <%= t('.actual_driving') %>: <%= @tpr.actual_driving %>
  </div><br>

  <div>
    <%= t('.pick_up_time') %>: <%= @tpr.pick_up_time %>
  </div><br>

  <div>
    <%= t('.waiting_time') %>: <%= @tpr.waiting_time %>
  </div><br>

  <div>
    <%= t('.break_time') %>: <%= @tpr.break_time %>
  </div><br>

  <div>
    <%= t('.backhaul_time') %>: <%= @tpr.backhaul_time %>
  </div><br>

  <div>
    <%= t('.average_operating_raito') %>: <%= @tpr.average_operating_raito %>
  </div><br>

  <p>
    <%= link_to "編集する", edit_tpr_path(@tpr) %> |
    <%= link_to "輸送実績一覧に戻る", tprs_path %>
  </p>

  <%#<%= button_to "このデータを削除する", @tpr, method: :delete %>

  <button class="link-delete-button2" onclick="submitForm()">このデータを削除する</button>

  <form id="logoutForm" action="<%= @tpr %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form><br>

  <script>
    function submitForm() {
      document.getElementById('logoutForm').submit();
    }
  </script>

</div>
